<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TAC Voicemail Generator</title>
    <link rel="stylesheet" href="../static/css/cui-standard.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/cui-standard.min.css')}}" >
</head>
<body class="cui" data-theme="">
    <main>
             <header class="header" id="_uid2e4e5db4">
                <div class="container">
                   <div class="header-panels">
                      <div class="header-panel"><a href="http://www.cisco.com" target="_blank" class="header__logo" id="_uid6dbf5fa0"><span class="icon-cisco"></span></a>
                         <div class="header__title">Cisco TAC Voicemail Generator</div>
                      </div>
                   </div><span data-cubexbadge="container" class="badge-wrapper base-margin-left" id="_uide89e5b6e"></span>
                </div>
             </header>
             <div class="container">
                <div class="section">
                   <h2>Welcome to Cisco TAC Voicemail Generator</h2>
                   <p>Please provide the following information:</p>
                   <div class="c10208">
                    <form action="/generate" method="POST">
                      <div class="form-group base-margin-bottom">
                         <div class="form-group__text">
                            <input type="text" id="name" name="name" required>
                            <label>Name:</label>
                        </div>
                      </div>
                      <div class="form-group">
                         <div class="form-group__text select">
                            <select id="gender" name="gender">
                               <option value="1">Male</option>
                               <option value="2">Female</option>
                            </select><label for="select-type-basic">Gender</label>
                        </div>
                      </div>
                      <input type="submit" value="Generate Voicemail" class="btn btn--ellipsis btn-medium btn--primary base-margin-top" id="_uid7fea18fa">
                    </form>
                   </div>
                   
                </div>
             </div>
    </main>
</body>
</html>
